/bin/

# Composer plugin downloaded binary
composer/.binary/

# PHP/Composer
testdata/vendor/
testdata/composer.lock
testdata/.phpunit.cache/
testdata/.phpunit.result.cache
testdata/.phpunit-parallel/
